# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/


# =========================
# Type checkers / Linters
# =========================
.mypy_cache/
.ruff_cache/
.pyre/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Alembic
# =========================
alembic.ini.bak
